<!DOCTYPE html>
<html>
<head>
    <!--css load-->
    <div id="config"></div>
    <head>
        <div id="config"></div>
        <link rel="stylesheet" href="/stylesheets/style.css"> 
        <link rel="stylesheet" href="/css/bootstrap.min.css"> 
        <script src="/js/jquery.min.js"></script> 
        <script src="/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/stylesheets/agent-2.css">
      </head>
</head>

<body>

<!-- Page Header -->
<header>
        <%- include('include/header-agent.ejs') %>
</header>

<hr>

<!-- Main Content -->
<div class="container">
    <div id="section2" class="row text-center">
        <div class="col-sm-9 border">
            <!--Table-->
            <table class="table">

                <!--Table head-->
                <thead>
                <tr>
                    <th>투수 Attribute</th>
                    <th>SALARY</th>
                </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                <tr>
                    <td>data</td>
                    <td>data</td>
                </tr>
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>
        <div class="col-sm-3 float-right text-center">
            <div class="text-right header-mg-t">
                <a href="agent-1.html" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">다른투수선택</a>
            </div>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<footer>
    <%- include('include/footer.ejs') %>
</footer>

<!--추후 템플릿 엔진 사용 시 불러오도록 구현하세요.-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>

</html>