<!DOCTYPE html>
<html>

<head>
    <!--css load-->
    <div>
        <%- include('include/config.ejs') %>
    </div>


    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/jquery.dataTables.css" rel="stylesheet">
    <link href="/css/jquery.dataTables.min.css" rel="stylesheet">

    <script src="/js/jquery.js"></script>
    <script src="js/jquery.dataTables.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/agent-2.css">


    <script src="/javascripts/agent-2.js"></script>

</head>

<body>

    <!-- Page Header -->
    <header>
        <%- include('include/header-agent.ejs') %>
    </header>

    <hr>

    <!-- Main Content -->
    <div class="container">
        <div id="section2" class="row text-center">
            <div class="col-sm-9 border">


                <!--Table-->
                <table class="display" id="tableResult" cellspacing="0" width="100%">

                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <!--Table body-->
                </table>
                <!--Table-->

            </div>
            <div class="col-sm-3 float-right text-center">
                <div class="text-right header-mg-t">
                    <a class="btn btn-primary btn-sm active" role="button" aria-pressed="true">다른선수선택</a>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <%- include('include/footer.ejs') %>
    </footer>



</body>

</html>