<!DOCTYPE html>
<html>

    <head>
        <!--css load-->
        <config>
                <%- include('include/config.ejs') %>
        </config>
       
        <head>
            <div id="config"></div>
            <link rel="stylesheet" href="/stylesheets/style.css"> 
            <link rel="stylesheet" href="/css/bootstrap.min.css">
            <link rel="stylesheet" href="/stylesheets/crowd-2.css">
            <script src="/js/jquery.min.js"></script> 
            <script src="/js/bootstrap.min.js"></script>
          </head>
    
    </head>

<body>

<!-- Page Header -->
<header>
    <%- include('include/header-crowd.ejs') %>
</header>

<hr>

<!-- Main Content -->
<div class="container">
    <section2>
        <!-- select-team header 처럼 처리할 것-->
        
        <!--
            <div class="col-sm-12 border text-center">
            <ul class="header-ul text-center">-->
                <!--모든 이미지는 레이아웃 확인용이며 정상 작동을 위해서는 DB연동이 필요합니다
                <li> <img src="images/team_logo/1041.png"></li>
                <li class="middle"><font size=36>100</font></li>
                <li class="middle"><font size=24>vs</font></li>
                <li class="middle"><font size=36>100</font></li>
                <li><img src="images/team_logo/1042.png"></li>
            </ul>
        </div>
    -->
    </section2>
    </div>

    <div id="section3" class="row text-center">

        <div class="col-sm-4 border">
            <!--Table-->
            <table class="table">
                <!--Table head-->
                <thead>
                <tr>
                    <th  class=" text-center">txt1</th>
                </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                <tr>
                    <td>data</td>
                </tr>
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>

        <div class="col-sm-4"></div>

        <div class="col-sm-4 border">
            <!--Table-->
            <table class="table">
                <!--Table head-->
                <thead>
                <tr>
                    <th  class=" text-center">txt2</th>
                </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                <tr>
                    <td>data</td>
                </tr>
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>

    </div>

    <div id="section4" class="row text-center">

        <div class="col-sm-4 border">
            <!--Table-->
            <table class="table">
                <!--Table head-->
                <thead>
                <tr>
                    <th  class=" text-center">txt3</th>
                </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                <tr>
                    <td>data</td>
                </tr>
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>

        <div class="col-sm-4"></div>

        <div class="col-sm-4 border">
            <!--Table-->
            <table class="table">
                <!--Table head-->
                <thead>
                <tr>
                    <th  class=" text-center">txt4</th>
                </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                <tr>
                    <td>data</td>
                </tr>
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>

    </div>


</div>

<hr>

<!-- Footer -->
<footer>
    <%- include('include/footer.ejs') %>
</footer>


<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
