<!DOCTYPE html>
<html>

<head>
  <div id="config"></div>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <style>
    /*section3*/

    #section3 {
      margin-top: 30px;
    }

    #section3 div {
      padding: 20px;
    }

    #section3 div img {
      width: 100%;
    }
  </style>
</head>
<body>
  <header>
    <%- include('include/header-admin.ejs') %>
  </header>
  <hr>
  <!-- Main Content -->
  <div class="container">
    <section2>
      <%- include('include/select-team.ejs') %>
    </section2>
    <div id="section3" class="row text-center">
      <div class="col-sm-4 border">
        <a href="agent-1.html">
          <img src="images/3views/agent.png" href="agent-1.html">
        </a>
      </div>
      <div class="col-sm-4 border">
        <a href="crowd-1.html">
          <img src="images/3views/crowd.png">
        </a>
      </div>
      <div class="col-sm-4 border">
        <a href="player-1.html">
          <img src="images/3views/player.png">
        </a>
      </div>
    </div>
    <div class="row" style="margin: 30px 0px;">
      <div class="col-sm-12 text-center">
        <a href="#" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">선택완료</a>
      </div>
    </div>
  </div>
  <hr>
  <footer>
    <%- include('include/footer.ejs') %>
  </footer>
</body>

</html>