<!DOCTYPE html>
<html lang="en">

<head>
    <!--css load-->
    <config>
        <%- include('include/config.ejs') %>
    </config>

    <head>
        <link rel="stylesheet" href="/css/jquery-ui.min.css">
        <!--<script src="/js/jquery-ui.min.js"></script>-->
        <script src="/javascripts/utility.js" type="text/javascript"></script>
        <script src="js/jquery.js" type="text/javascript"></script>
        <script src="js/jquery.dataTables.js" type="text/javascript"></script>
        <script src="/javascripts/crowd-2.js" type="text/javascript"></script>
        <div id="config"></div>
        <link rel="stylesheet" href="/stylesheets/style.css"> 
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/player-2.css">
        <script src="/js/jquery.min.js"></script> 
      <script src="/js/bootstrap.min.js"></script>
    </head>
</head>

<body style="width:2000px">

<!-- Page Header -->
<header>
    <%- include('include/header-player.ejs') %>
</header>

<hr>

<!-- Main Content -->
<div class="container">


    <div id="section2" class="row text-center">
        <div class="col-sm-12">
            <div class="col-sm-4">txt1</div>
            <div class="col-sm-4">txt2</div>
            <div class="col-sm-4">txt3</div>
        </div>
    </div>


    <div id="section3" class="row text-center">
        <div class="col-sm-12 text-left"><h3>txt4</h3></div>
        <div class="col-sm-12 border">
            <!--Table-->
            <table class="table">
                <!--Table head-->
                <thead>
                <tr>
                    <th>txt5</th>
                    <th>txt6</th>
                    <th>txt7</th>
                    <th>txt8</th>
                    <th>txt9</th>
                    <th>txt10</th>
                    <th>txt11</th>
                    <th>txt12</th>
                    <th>txt13</th>
                </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                <tr>
                    <td>txt14</td>
                    <td>txt15</td>
                    <td>txt16</td>
                    <td>txt17</td>
                    <td>txt18</td>
                    <td>txt19</td>
                    <td>txt20</td>
                    <td>txt21</td>
                    <td>txt22</td>
                </tr>
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>
    </div>

    <div id="section4" class="row text-center">
        <div class="col-sm-12 text-left"><h3>txt23</h3></div>
        <div class="col-sm-12 border">
            <!--Table-->
            <table class="table">
                <!--Table head-->
                <thead>
                <tr>
                    <th>txt24</th>
                    <th>txt25</th>
                    <th>txt26</th>
                    <th>txt27</th>
                    <th>txt28</th>
                    <th>txt29</th>
                    <th>txt30</th>
                    <th>txt31</th>
                    <th>txt32</th>
                </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                <tr>
                    <td>txt14</td>
                    <td>txt15</td>
                    <td>txt16</td>
                    <td>txt17</td>
                    <td>txt18</td>
                    <td>txt19</td>
                    <td>txt20</td>
                    <td>txt21</td>
                    <td>txt22</td>
                </tr>
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>
    </div>


</div>

<hr>

<!-- Footer -->
<footer>
    <%- include('include/footer.ejs') %>
</footer>

</body>

</html>
