<!DOCTYPE html>

<head>
    <div>
        <%- include('include/config.ejs') %>
    </div>


    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/jquery.dataTables.css" rel="stylesheet">
    <link href="/css/jquery.dataTables.min.css" rel="stylesheet">

    <script src="/js/jquery.js"></script>
    <script src="js/jquery.dataTables.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/player-2.css">


    <script src="/javascripts/player-2.js"></script>
</head>

<body>

    <!-- Page Header -->
    <header>
        <%- include('include/header-player.ejs') %>
    </header>

    <hr>

    <!-- Main Content -->
    <div class="container">


        <div id="section2" class="row text-center">

        </div>

        <div class="col-sm-4 text-center">

        </div>
        <div id="section3" class="row text-center">
            <a class="btn-primary" role="button" aria-pressed="true">
                <p style="font-size:16px;background-color:blueviolet;width:220px;text-align:center;">다른선수 선택</p>
            </a>
            <div class="col-sm-12 text-left">
                <h3>시즌 성적</h3>
            </div>
            <div class="col-sm-12 border">
                <table class="display" id="seasonResult">
                    <thead>
                        <tr>

                        </tr>
                    </thead>
                </table>

            </div>
        </div>

        <div id="section4" class="row text-center">
            <div class="col-sm-12 text-left">


                <h3>최근 10경기 성적 </h3>
            </div>
            <div class="col-sm-12 border">
                <table class="display" id="recentResult">
                    <thead>
                        <tr>

                        </tr>
                    </thead>
                </table>

            </div>
        </div>


    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <%- include('include/footer.ejs') %>
    </footer>

</body>

</html>