<!DOCTYPE html>
<html>

    <head>
        <config>
            <%- include('include/config.ejs') %>
        </config>
            <div id="config"></div>
            <script srt="javascripts/player.js"></script>
            <script src="js/bootstrap.bundle.min.js"></script>
            <script src="javascripts/player-1.js"></script>
            <script src="/js/jquery.jcalendar.js"></script>
            <script src="/js/jquery.jexcel.js"></script>


            <script src="/js/jquery.min.js"></script> 
            <script src="/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="/stylesheets/style.css"> 
            <link rel="stylesheet" href="/css/bootstrap.min.css"> 
            

            <style>
                /*section2*/
                #section2{
                margin-top: 30px;
                }
                #section2 ul{
                list-style:none;
                margin:0;
                padding:0;
                }
                #section2 ul li{
                margin: 0 0 0 0;
                padding: 0 0 0 0;
                border : 0;
                float: left;
                border: 1px solid;
                width: 10%;
                }
                #section2 ul li img{
                width: 100%;
                }
        
                /*section3*/
                #section3{
                margin-top: 30px;
                }
                #section3 div{
                padding: 20px;
                }
                #section3 div img{
                width: 100%;
                }
            </style>
            </head>

<body>

<!-- Page Header -->
<header>
    <%- include('include/header-player.ejs') %>
</header>

<hr>

<!-- Main Content -->
<div class="container">
    <section2>
        <%- include('include/select-team.ejs') %>
    </section2>

    <div id="section3" class="row text-center">
        <div class="col-sm-12 border">

            <!--Table-->
            <table class="table">
                <!--Table head-->
                <thead>
                <tr>
                    <th>순위</th>
                    <th>팀이름</th>
                    <th>총경기수</th>
                    <th>승</th>
                    <th>무</th>
                    <th>패</th>
                    <th>승률</th>
                    <th>게임차</th>
                    <th>최근10경기</th>
                </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                <tr>
                    <td>1</td>
                    <td>한화</td>
                    <td>30</td>
                    <td>*</td>
                    <td>*</td>
                    <td>V</td>
                    <td>33%</td>
                    <td>23</td>
                    <td>data</td>
                </tr>
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>
    </div>

    
    <div id="section3" class="row">
            <script>
                    $(document).ready(function(){
                        $("#hitterpitcher").click(function(){
                            $("#pitcher").show();
                            $("#pithit").hide();
                        });
                        $("#hitversepit").click(function(){
                            $("#pithit").show();
                            $("#pitcher").hide();
                        });
                    });
            </script>
                    
                <div id="section4" class="row">
                            <a href="#" class="btn btn-primary btn-sm active" id = "hitterpitcher" role="button" aria-pressed="true">투수</a>
                            <a href="#" class="btn btn-primary btn-sm active" id = "hitterpitcher" role="button" aria-pressed="true">타자</a>
                            <a href="#" class="btn btn-primary btn-sm active" id = "hitversepit" role="button" aria-pressed="true">투수vs타자</a>
                 </div>
    </div>



  

    <div id="section5" class="row text-center">
        <div class="col-sm-12 border" id = "pitcher" >
            <!--Table-->
            <table class="table">
                <!--Table head-->
                <thead>
                <tr>
                    <!--active : blue-->
                    <!--fa-lg fa-2x fa-3x fa-4x fa-5x 크기조절-->
                    <th width="10%">순위<i class="fa fa-sort fa-lg" aria-hidden="true"></i>
                    <th width="20%">선수명<i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th width="60%">투/타 별 속성<i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th width="10%">*</th>
                </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                <tr>
                    <td>1</td>
                    <td>배준기</td>
                    <td>투/타 별 속성</td>
                    <td><a href="player-2.html"><i class="fa fa-eye" aria-hidden="true"></i></a> </td>

                </tr>
                <tr>
                    <td>2</td>
                    <td>김가가</td>
                    <td>투/타 별 속성</td>
                    <td><a href="player-3.html"><i class="fa fa-eye" aria-hidden="true"></i></a> </td>

                </tr>
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>
    </div>



<!--아래는 투타테이블-->
<div id="section5" class="row text-center" >
        <div class="col-sm-12 border"  id = "pithit" style="display:none">
            <div class="input-group" >
                    <select class="custom-select" id="inputGroupSelect04">
                      <option selected>투수팀 선택</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="3">4</option>
                      <option value="3">5</option>
                    </select>
                        <select class="custom-select" id="inputGroupSelect04">
                        <option selected>투수 선택</option>
                        <option value="1">정지윤</option>
                        <option value="2">지유니</option>
                        <option value="3">쩡쯔룬</option>
                        <option value="3">찌윤이</option>
                        <option value="3">찌</option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">확인</button>
                        </div>
            </div>

            <!--Table-->
            <table class="table">
                <!--Table head-->
                <thead>
                <tr>
                    <!--active : blue-->
                    <!--fa-lg fa-2x fa-3x fa-4x fa-5x 크기조절-->
                    <th width="40%">이름<i class="fa fa-sort fa-lg" aria-hidden="true"></i></th>
                    <th width="40%">Number of pitching<i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th width="20%">hit<i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th width="10%">Double</th>
                    <th width="10%">Triple</th>
                    <th width="10%">Salary</th>
                    <th width="10%">TN</th>
                    <th width="10%">ERA</th>
                    <th width="10%">G</th>
                    <th width="10%">CG</th>
                    <th width="10%">SHO</th>
                    <th width="10%">W</th>
                    <th width="10%">L</th>
                    <th width="10%">SV</th>
                    <th width="10%">HLD</th>
                    <th width="10%">WPCT</th>
                    <th width="10%">TBF</th>
                    <th width="10%">IP</th>
                    <th width="10%">HR</th>


                </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                <tr>
                    <td>~~</td>
                    <td>~</td>
                    <td>~</td>
                    <td>~</td>
                    <td>~</td>
                    <td>~</td>
                    <td>~</td>
                    <td>~</td>
                    <td>~</td>
                    <td>~</td>
                    <td>~</td>
                    <td>~</td>
                    <td>~</td>
                    <td>~</td>
                    <td>~</td>
                    <td>~</td>
                    <td>~</td>
                    <td>~</td>
                    <td>~</td>
                    <td><a href="player-2.html"><i class="fa fa-eye" aria-hidden="true"></i></a> </td>

                </tr>
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->

            <div class="input-group" >
                    <select class="custom-select" id="inputGroupSelect04">
                      <option selected>타자팀 선택</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="3">4</option>
                      <option value="3">5</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">확인</button>
                    </div>
            </div>
            <!--Table-->
            <table class="table">
                    <!--Table head-->
                    <thead>
                    <tr>
                        <!--active : blue-->
                        <!--fa-lg fa-2x fa-3x fa-4x fa-5x 크기조절-->
                        <th width="10%">순위<i class="fa fa-sort fa-lg" aria-hidden="true"></i>
                        <th width="20%">선수명<i class="fa fa-sort" aria-hidden="true"></i></th>
                        <th width="60%">투/타 별 속성<i class="fa fa-sort" aria-hidden="true"></i></th>
                        <th width="10%">*</th>
                    </tr>
                    </thead>
                    <!--Table head-->
    
                    <!--Table body-->
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>배준기</td>
                        <td>투/타 별 속성</td>
                        <td><a href="player-2.html"><i class="fa fa-eye" aria-hidden="true"></i></a> </td>
    
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>김가가</td>
                        <td>투/타 별 속성</td>
                        <td><a href="player-3.html"><i class="fa fa-eye" aria-hidden="true"></i></a> </td>
    
                    </tr>
                    </tbody>
                    <!--Table body-->
                </table>
                <!--Table-->
        </div>
    </div>


</div>

<hr>

<!-- Footer -->
<footer>
    <%- include('include/footer.ejs') %>
</footer>


</body>

</html>
