<!DOCTYPE html>
<html>

<head>
    <div>
        <%- include('include/config.ejs') %>
    </div>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/jquery.dataTables.css" rel="stylesheet">
    <link href="/css/jquery.dataTables.min.css" rel="stylesheet">

    <script src="/js/jquery.js"></script>
    <script src="js/jquery.dataTables.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/player-1.css">

    <script src="/javascripts/player-1.js"></script>
</head>

<body style=" width: 1500px;">
    <header>
        <%- include('include/header-player.ejs') %>
    </header>

    <hr>
    <div class="container"   >
        <section2>
            <%- include('include/select-team.ejs') %>
        </section2>

        <div id="section3" class="row text-center" >
            <div class="col-sm-12 border" ;>

                <table class="table">
                    <thead>
                        <tr>
                            <th>순위</th>
                            <th>팀이름</th>
                            <th>총경기수</th>
                            <th>승</th>
                            <th>무</th>
                            <th>패</th>
                            <th>승률</th>
                            <th>게임차</th>
                            <th>최근10경기</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>한화</td>
                            <td>30</td>
                            <td>*</td>
                            <td>*</td>
                            <td>V</td>
                            <td>33%</td>
                            <td>23</td>
                            <td>data</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>



        <div id="section3" class="row">
            <div id="section4" class="row">
                <a class="btn btn-primary btn-sm active" id="pitcher" role="button" aria-pressed="true">투수</a>
                <a class="btn btn-primary btn-sm active" id="hitter" role="button" aria-pressed="true">타자</a>
                <a class="btn btn-primary btn-sm active" id="hitversepit" role="button" aria-pressed="true">투수vs타자</a>
            </div>
        </div>


        <!--pithcer table 출력-->
        <div id="section5" class="row text-center">
            <div class="col-sm- border" id="pitcher_box">
                <!--Table-->
                <table class="display" id="pit_li">
                    <!--Table head-->
                    <thead>
                        <tr>
                            <!--active : blue-->
                            <!--fa-lg fa-2x fa-3x fa-4x fa-5x 크기조절-->
                            <th>NAME</th>
                            <th>WIN</th>
                            <th>LOSE</th>
                            <th>SAVE</th>
                            <th>HOLD</th>
                            <th>ER</th>
                            <th>IP</th>
                            <th>CG</th>
                            <th>H</th>
                            <th>NP</th>
                            <th>ERA</th>
                            <th>DOBLE</th>
                            <th>TRIPLE</th>
                            <th>G</th>
                            <th>SALARY</th>
                            <th>BUTTON</th>
                        </tr>
                    </thead>
                    <!--Table head-->
                </table>
                <!--Table-->
            </div>
        </div>


        <!--hitter table 테이블-->
        <div id="section5" class="row text-center">
            <div class="col-sm- border" id="hitter_box" style="display:none">

                <!--Table-->
                <table class="display" id="hit_li">
                    <!--Table head-->
                    <thead>
                        <tr>
                            <!--active : blue-->
                            <!--fa-lg fa-2x fa-3x fa-4x fa-5x 크기조절-->
                            <th>NAME</th>
                            <th>PA</th>
                            <th>AB</th>
                            <th>DOBLE</th>
                            <th>TRIPLE</th>
                            <th>SB</th>
                            <th>CS</th>
                            <th>SH</th>
                            <th>SF</th>
                            <th>SALARY</th>
                            <th>AVG</th>
                            <th>BUTTON</th>
                        </tr>
                    </thead>
                    <!--Table head-->
                </table>
                <!--Table-->
            </div>
        </div>


        <!--아래는 투타테이블-->
        <div id="section5" class="row text-center" style="width:1300px">
            <div class="col-sm-12 border" id="pithit_box" style="display:none">
                <div class="input-group">
                    <select class="custom-select" name="teamSelect" id="inputGroupSelect04">
                    </select>

                    <select class="custom-select" id="inputGroupSelect05">
                    </select>
                </div>

                <!--Table-->
                <table class="table" id="resultInfo">
                    <!--Table head-->
                    <thead>
                        <tr>
                            <!--active : blue-->
                            <!--fa-lg fa-2x fa-3x fa-4x fa-5x 크기조절-->
                            <th>NAME</th>
                            <th>WIN</th>
                            <th>LOSE</th>
                            <th>SAVE</th>
                            <th>HOLD</th>
                            <th>ER</th>
                            <th>IP</th>
                            <th>CG</th>
                            <th>H</th>
                            <th>NP</th>
                            <th>ERA</th>
                            <th>DOBLE</th>
                            <th>TRIPLE</th>
                            <th>G</th>
                            <th>SALARY</th>


                        </tr>
                    </thead>
                    <!--Table head-->


                </table>
                <!--Table-->

                <div class="input-group">
                    <select class="custom-select" id="inputGroupSelect06">
                    </select>
                </div>
                <!--Table-->
                <table class="table" id="pithit">
                    <!--Table head-->
                    <thead>
                        <tr>
                            <th>Hitter_name</th>
                            <th>Pitcher_name</th>
                            <th>PA</th>
                            <th>AB</th>
                            <th>H</th>
                            <th>BA</th>
                        </tr>
                    </thead>
                    <!--Table head-->

                </table>
                <!--Table-->
            </div>
        </div>


    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <%- include('include/footer.ejs') %>
    </footer>


</body>

</html>