<!DOCTYPE html>
<html>
<!-- Footer -->
<div class="container" >
    <div class="row" style="width:1500px">
        <div class="col-lg-8 col-md-10 mx-auto text-right" ></div>
            <p class="copyright text-muted">Copyright &copy; JK Group</p>
        </div>
    </div>
</div>
</html>