<!DOCTYPE html>
<html>
<div class="container">
    <div class="row" style="margin-top: 10px; width: 1600px">
        <div class="col-sm-9 border text-center">
            <a href="/">
                <img src="images/team_logo/crowd_header.jpg " class="responsive">
            </a>
        </div>
    </div>
</div>
</html>