<!DOCTYPE html>
<html lang="en">
<div class="container">
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-9 text-center">
            <a href="/">
                <img src="images/3views/crowd.png">
            </a>
        </div>
        <div class="col-sm-3 float-right text-center" style="padding: 0px;">
            <div class="text-right test" style="margin-top: 33%;">
                <h3>관람객</h3>
            </div>
        </div>
    </div>
</div>

</html>