<!DOCTYPE html>
<html lang="en">
<div class="container">
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-9 border text-center">
            <a href="/">
                <h1>헤더</h1>
<<<<<<< HEAD
                <img src="images/3views/player.png">
            </div>
=======
            </a>
>>>>>>> 8047cef3bad32e523e605b9251fc7a5a3d20fee7
        </div>
        <div class="col-sm-3 float-right text-center" style="padding: 0px;">
            <div class="text-right test" style="margin-top: 33%;">
                <h3>관리자</h3>
            </div>
        </div>
    </div>
</div>
</html>