<!DOCTYPE html>
<html>
<div class="container">
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-9 border text-center">
            <a href="/">
                <img src="images/3views/agent.png " class="responsive">
            </a>
        </div>
        <div class="col-sm-3 float-right text-center">
            <h3>에이전트</h3>
        </div>
    </div>
</div>
</html>