<!DOCTYPE html>
<html>
    <div class="container">
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-9 border text-center">
            <a href="/">
                <img src="images/team_logo/real.jpg">
            </a>
        </div>
        <div class="col-sm-3 float-right text-center" style="padding: 0px;">
            <div class="text-right test" style="margin-top: 33%;">
                <a href="admin" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">관리자</a>
            </div>
        </div>
    </div>
</div>
</html>

