<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/css/jquery-ui.min.css">
<script src="/js/jquery-ui.min.js"></script>
<link rel="stylesheet" href="/stylesheets/select-team.css">
<script src="/javascripts/select-team.js"></script>
<div id="section2" class="row" >
    <div class="col-sm-12 border">
        <ul id="team">
        </ul>
    </div>
</div>

</html>