<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/css/jquery-ui.min.css">
<script src="/js/jquery-ui.min.js"></script>
<link rel="stylesheet" href="/stylesheets/select-team.css">
<script src="/javascripts/select-team.js"></script>
<<<<<<< HEAD
<div id="section2" class="row text-center">
=======
<div id="section2" class="row" >
>>>>>>> 1bc9a4b49cc2a3d410af391612cb0f82b941eb16
    <div class="col-sm-12 border">
        <ul id="team">
        </ul>
    </div>
</div>

</html>