<!DOCTYPE html>
<html>
<script src="javascripts/team-info.js"></script>
<<<<<<< HEAD
<table class="table" id="teamInfoTable">
=======
<table class="table" id="teamInfoTable" width="2000px">

>>>>>>> 1bc9a4b49cc2a3d410af391612cb0f82b941eb16
</table>

</html>