/*section2*/

#section2 {
    margin-top: 30px;
    margin: 0 auto;
}

#section2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#section2 ul li {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0;
    float: left;
    border: 1px solid;
    width: 10%;
}

#section2 ul li img {
    width: 100%;
}


/*section3*/

#section3 {
    width: 1300px;
}

#section3>div {
    padding: 0px;

}


/*section4*/

#section4 {
    margin-top: 30px;
}

#section4>a {
    margin-right: 5px;
}


/*section5*/

#section5 {

    margin-top: 30px;
}

#section5>div {
    padding: 10px;

}