 /*section2*/
 
 #section2 {
    padding: 20px;
    width: 1300px;
    margin: 0 auto;
}

#section2 div select {
    background-color: #56abff;
    color: white;
    
}

/*section3*/

 #section3 {
        margin-top: 30px;
    } 

#section3 div {
    margin: .5rem .75rem;
    margin-top: 30px !important;
    background-color: #56abff;
    color: white;
    padding: .5rem .75rem;
}

/*section4*/

#section4 {
    margin-top: 30px;
}

#section4>div {
    padding: 0px;
}
